DATABASE_URL="postgresql://user:password@ep-xxx.eu-west-1.aws.neon.tech/valorys?sslmode=require"
DIRECT_URL="postgresql://user:password@ep-xxx.eu-west-1.aws.neon.tech/valorys?sslmode=require"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
ANTHROPIC_API_KEY=""
STRIPE_PUBLIC_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_INVESTISSEUR_PRICE_ID=""
STRIPE_MARCHAND_PRICE_ID=""
STRIPE_PRO_PRICE_ID=""
RESEND_API_KEY=""
CRON_SECRET=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=""
